body {
  background-color: black !important;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.box {
  font-size: large;
  text-align: center;
  font-weight: bold;
  max-height: 800px;
  object-fit: cover;
}

.box img {
max-height: 800px;
object-fit: cover;
width: 100%;
height: auto;
}

.booking-title {
  margin-bottom: 20px;
  color: rgb(241, 10, 191) !important;
  font-weight: bolder;
  text-align: center;
  font-family: "Sofia", sans-serif !important;
}

.booking-container {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 !important;
  flex-direction: column;
}

.booking-container button {
  display: block;
  margin: 0 auto;
  background-color: #222;
  color: white;
  border: solid rgb(241, 10, 191) !important;
  width: 60%;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out; /* Add smooth transition effect */
}

/* Button Press Effect */
.booking-container button:active {
  transform: scale(0.9); /* Slight shrink effect */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset; /* Inner shadow effect */
  background-color: rgba(255, 255, 255, 0.678); /*Change button colour to grey*/
  color: rgb(241, 10, 191); /* Flip text color to pink */
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
}

form label {
  color: rgb(241, 10, 191) !important;
  text-align: left;
}

a {
  text-decoration: none !important;
  color: white;
}

h2 {
  color: rgb(241, 10, 191) !important;
  font-family: "Sofia", sans-serif !important;
}

p {
  color: white !important;
}

@media (max-width: 1078px) {
  .main-container {
    grid-template-columns: 1fr;
  }

  
  .main-container .box:first-child {
    display: none;
  }

  .booking-container {
    flex-direction: column;
    padding: 10px;
  }

  form {
    width: 80%;
  }

  .footer-container { 
    display:grid; 
    grid-template-columns: repeat(1, 1fr);

  }  
}








